<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <style type = "text/css">

        }
        .dropdown-menu{
            background-color:#cf4141!important;
        }
    </style>
    <title> Bluett</title>
</head>
<body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <div class="container">
        <div class = " row justify-content-md-center ">
             <div class = "col-2">
               {% load static %}
                 {% for ft, im in pic.items %}
                     {% if ft == stud %}

                              <img src= "{% static im|safe %}"  class = "avatar-media">

                     {% endif %}
                 {% endfor %}
             </div>
        </div>
      <br>
      <div class = "row">

                 <div class = "col-12 ">
                     <form action = "." role = "search"  method = "POST">
                        {% csrf_token %}
                           <div class = "col-md-3 ">
                                        <label for="session">Session  </label>
                                            <select class="form-control" id="session" name = "session">
                                              <option value = "2017/2018">2017/2018</option>
                                              <option value = "2017/2018">2018/2019</option>
                                            </select>
                           </div>


                           <div class = "form-inline" method = "POST">
                                <div class = "col-md-3 ">

                                            <label for="Term">Term  </label>
                                                <select class="form-control" id="Term" name = "Term">
                                                  <option value = "First Term">1st Term</option>
                                                  <option value = "Second Term">2nd Term</option>
                                                  <option value = "Third Term">3rd Term</option>
                                                </select>
                                </div>


                           </div>
                         <br>
                           <div class = "col-1">
                               <input type ="submit"  class = "btn btn-lg btn-danger outline "name = "submit" value = "Submit">
                           </div>
                         <br>
                         <br>

                     </form>>

                 </div>
             </div>
      </div>
      <div class = "row justify-content-md-center">
          <div class =" col-8">
                   <p><h3><strong> Mid Term CAT</strong></h3></p>
                <table class="table table-dark">
                      <thead>
                            <tr>
                              <th scope="col">S/N</th>
                              <th scope="col">Subjects</th>
                              <th scope="col">Scores</th>
                              <th scope="col">Grade</th>
                              <th scope="col">Remark</th>
                              <th scope="col">Avg Scores</th>
                            </tr>
                      </thead>
                      {% for ft, jo in dat.items %}
                      <tbody>

                            <tr>
                              <th scope="row">{{jo.0}}</th>
                              <td>{{ft}}</td>
                              <td>{{jo.1}}</td>
                              <td>{{jo.2}}</td>
                              <td>{{jo.3}}</td>
                              <td>{{jo.4}}</td>
                            </tr>


                      </tbody>
                      {% endfor %}
                </table>

          </div>

      </div>
      <br>
      <br>
      <br>
      <div class = "row justify-content-md-center">
         <div class =" col-8">
            <div class="alert alert-success" role="alert">
                 <h4> <strong>Average: {{ avg }}%</strong></h4>
            </div>
         </div>
      </div>
      <div class = "row justify-content-md-center">
         <div class =" col-8">
            <div class="alert alert-success" role="alert">
                 <h4> <strong>Teacher Comments:  {{ comms }}</strong></h4>
            </div>
         </div>
      </div>
      <div class = "row justify-content-md-center">
         <div class =" col-8">
            <div class="alert alert-success" role="alert">
                 <h4> <strong>Head Teacher/Admin Comments:  {{ comms }}</strong></h4>
            </div>
         </div>
      </div>

      </div>
  </div>


</body>
</html>
{% endblock %}