<!DOCTYPE html>

    {% extends 'base_1.html' %}
    {% block content %}
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    <head>
    <body>
        <meta charset="UTF-8">

               <meta name="viewport"content="width-device-width, initial-scale=1, shrink-to-fit=no">
                <meta http-equiv="X UA-Compatible" content="IE-edge">
                <meta http-equiv="X UA-Compatible" content="chrome">
                <meta http-equiv="X UA-Compatible" content="firefox">
        <meta name="author" content="">
        {% load static %}

        <link rel="icon" href= "{% static 'studentapp/img1.png' %}">
        <link rel = "stylesheet" text = "text/css" href= "{% static 'studentapp/style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <style type = "text/css">

            }
            .dropdown-menu{
                background-color:#cf4141!important;
            }
        </style>
        <title>Bluett | Software Development Company</title>
    </head>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

      <div class="container px-lg-5">
        <div class = "Home">
            <div class = "row justify-content-md-center align-items-center ">
                 <div class = " col-lg-3 col-sm-12 col-md-6  align-self-center">
                   {% load static %}
                   <img src= "{% static 'studentapp/sch.jpg' %} " style = "min-height: 100px; min-width: 100px;" class = "avatar-user">
                 </div>
                 <div class = "col-lg-5 col-sm-12 col-md-6 ">
                   <p><strong> <h2> {{ sch }}</h2></strong></p>
                   <p><h5>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ address  }}</h5></p>
                   <p><h5>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ motto  }}</h5></p>
                 </div>

            </div>
            <br>
            <br>
            <br>
            <div class = "row justify-content-md-center">
                <div class = "col-lg-6 col-sm-12 col-md-8 col-xs-12 ">
                  <p><strong> <h2>  Welcome {{ teach }}</h2></strong></p>
                </div>
            </div>

            <div class = "row justify-content-md-center">
                <form  method = "POST">
                  {% csrf_token %}
                    <div class = "col-2 col-sm-6 col-md-4 col-xs-6">
                                        <label for="session">Session  </label>
                    </div>
                    <div class = "col-2 col-sm-12 col-md-6 col-xs-12">
                                            <select class="form-control" id="session" name = "session">
                                              <option value = "2017/2018">2017/2018</option>
                                            </select>
                    </div>



                    <div class = "col-lg-2 col-sm-6 col-md-4 col-xs-6">
                                     <div class = "form-inline" method = "POST">
                                                <select class="form-control" id="Term" name = "Term">
                                                  <option value = "First Term">1st Term</option>
                                                  <option value = "Second Term">2nd Term</option>
                                                  <option value = "Third Term">3rd Term</option>
                                                </select>
                                     </div>
                    </div>

                    <div class = "col-lg-2 col-sm-4 col-md-4 col-xs-6">
                                                <select class="form-control" id="CAT" name = "CAT">
                                                  <option value = "Mid Term CAT1">CAT 1</option>
                                                  <option value = "Mid Term CAT2">CAT 2</option>
                                                  <option value = "Exams">Exam</option>
                                                  <option value = "1st CAT">1st week</option>
                                                  <option value = "2nd CAT">2nd week</option>
                                                  <option value = "3rd CAT">3rd week</option>
                                                  <option value = "4th CAT">4th week</option>
                                                  <option value = "5th CAT">5th week</option>
                                                  <option value = "6th CAT">6th week</option>
                                                  <option value = "7th CAT">7th week</option>
                                                  <option value = "8th CAT">8th week</option>
                                                </select>
                    </div>
                    <div class = "col-lg-2 col-sm-4 col-md-4 col-xs-6">

                                            <select class="form-control" id="subj" name = "subj">
                                                {% for jo, vo in data.items %}
                                                  <option value = "{{ jo }}">{{ jo }}</option>
                                                {% endfor %}
                                            </select>
                    </div>
                    <div class = "col-lg-2 col-sm-4 col-md-4 col-xs-6">

                                            <select class="form-control" id="clax" name = "clax">
                                                {% for jo, vo in data.items %}
                                                  <option value = "{{ vo }}">{{ vo }}</option>
                                                {% endfor %}
                                            </select>
                    </div>
                     <div class = " col-lg-2 col-sm-6 col-md-3 col-xs-8 ">

                                       <input type ="submit"  class = "btn btn-lg btn-danger outline " name = "sends" value = "send">

                     </div>

                </form>
             </div>
            </div>
        </div>
      </div>

    </body>
</html>
{% endblock %}